@import "tailwindcss";

@theme {
  --color-corvu-bg: #f3f1fe;
  --color-corvu-100: #e6e2fd;
  --color-corvu-200: #d4cbfb;
  --color-corvu-300: #bcacf6;
  --color-corvu-400: #a888f1;
  --color-corvu-text: #180f24;

  --animate-expand: expand 250ms cubic-bezier(0.32,0.72,0,0.75);
  --animate-collapse: collapse 250ms cubic-bezier(0.32,0.72,0,0.75);

  @keyframes expand {
    0% { height: 0px; }
    100% { height: var(--corvu-disclosure-content-height); }
  }
  
  @keyframes collapse {
    0% { height: var(--corvu-disclosure-content-height); }
    100% { height: 0px; }
  }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-corvu-bg);
    color: var(--color-corvu-text);
}


